@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    margin: 3%;
}
header{
    height:50vh;
    background-color: rgba(65, 134, 225, 0.9);
}
.forest{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    margin: 2% 0;
    height: 70vh;
    width: 30%;
    background-color: rgba(8, 80, 174, 0.9);
}
footer{
    height: 120vh;
    background-color: rgba(65, 134, 225, 0.9);
}
header, footer, section{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
}