body {
    background-image: url("https://images.unsplash.com/photo-1741298167403-91ca24cdc376?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-attachment: fixed;

    p, h1 {
        background-color: rgba(247, 240, 237, 0.9);
        width: 60%;
        padding: 10px;
        margin-left: 50px;
        margin-top: 50px;
    }
}